
section {
    min-height: 64.2vh;
    position: static;
}


h1, h2, h3, h4, h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
    font-size: 20px;
}

p {
  font-size: 16px;
  font-family: "Lora", serif;
}

span.popup-heading {
    font: 16px/1.0 "Lora", serif;
}


span {
  font-size: 16px;
  font-family: "Lora", serif;
}

.filter-kartvy {
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
}

a {
  color: #2d874c;
}

a:hover {
  color: #2d874c;
  text-decoration: underline;
}

a.popup-link {
    color: #2d874c;
}

/* center headings*/
.heading-center {
  text-align: center;
}

/* SECONDARY TEXTS */

h1.white-heading {
  color: white;
}

h2.white-heading {
  color: white;
}

h3.white-heading {
  color: white;
}

h4.white-heading {
  color: white;
}

p.white-p {
  color: white;
}

p.ingress {
    font-size: 18px;
}

span.white-s {
  color: white;
}

span.small-desc {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

/* Modal box styling */
.modal img{

  width: 45px;

}

/*primary button*/
.primary-button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  background-color: #2d874c;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 16px 18px 14px 18px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #2d874c;
  text-align: center;
  line-height: 0px;
}

.primary-button:hover {
  background-color: transparent;
  color: #2d874c;
  text-decoration: none;
}

.mini-primary-button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  background-color: #2d874c;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 11px 9px 9px 9px;
  display: inline-block;
  margin-left: 5px;
  text-align: center;
  line-height: 0px;
}

.mini-primary-button:hover {
  background-color: #329654;
  color: white;
  text-decoration: none;
}

.white-button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #2d874c;
  background-color: white;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 16px 18px 14px 18px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  text-align: center;
  line-height: 0px;
}

.white-button:hover {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}

.white-button-green-borders {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #2d874c;
  background-color: white;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 16px 18px 14px 18px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  text-align: center;
  line-height: 0px;
}

.white-button-green-borders:hover {
  background-color: transparent;
  border: 2px solid #2d874c;
  text-decoration: none;
}

.remove-route-btn {
    border: 0px;
    background-color: transparent;

}

.form-info {
   font: 16px/1.0 "Lora", serif;
}

::placeholder {
    font: 16px/1.0 "Lora", serif;
}

logout-link {
    background-color: #2d874c;
    text-decoration: none;
}

/*social media icons:*/
i {
  color: #2d874c;
  margin: 0px 10px 0px 0px;
}

i.dark-bg {
  color: #e3a209;
}

i:hover {
  color: #36a15b;
}

i.dark-bg:hover {
  color: #fff;
}

i.fa-star {
    color: #2d874c;
}

i.fa-user {
    color: rgba(255,255,255,.5)
}

/* Gäller endast på startsida*/
.sec-bg {
  background-color: #f7f6eb;
  margin-top: 88px;
  position: static;
}

/*gäller för section med #f7f6eb bakgrund*/
.sec-light-bg {
    background-color: #f7f6eb;
/*min-height: 100vh;*/
 }

 .sec-yellow-bg {
    background-color: #e3a209;
 }



/*NAVBAR (HEADER)*/
.bg-custom {
  background-color: #2d874c;
}

#brandName {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: white;
}

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    /* padding: 0.5rem 1rem;
    color: white !important;
    */
}


.btn-newroute {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  background-color: #2d874c;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 16px 18px 14px 18px;
  display: inline-block;
  margin: 10px 0px 10px 10px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 0px;
}

.btn-newroute:hover {
  background-color: white;
  color: #2d874c;
  text-decoration: none;
}

.profil {
  border-collapse: separate;
  border-spacing: 20px 0;
}

/* Map styling */

#map {
  height: 450px;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.top-content {
    margin: auto;
    width: 70%;
    position: relative;
    z-index: 2;
    background-color: #2d874c;
    padding: 40px;
    margin-top: 100px;
    border-radius: 25px;
}
#map-new-route {
  height: 100%;
  width: 100%;
  min-height: 80vh;
}

#mapview {
  height: 92.5vh;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.kartvy-top-content {
    margin: auto;
    width: 45%;
    position: relative;
    z-index: 2;
    background-color: #f7f6eb;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #e3a209;
    border-top: none;

}


#map-route {
  height: 400px;
  width: 100%;
}

.polyline-hike {
    stroke: #2d874c;
    fill: none; 
    stroke-width: 5;  
}

.polyline-hike:hover {
    stroke: #36a15b;
    fill: none; 
    border: black;
    stroke-width: 7;  
}

.polyline-ski {
    stroke: #e3a209;
    fill: none;
    stroke-width: 5;
}

.polyline-ski:hover {
    stroke: #f2ac07;
    fill: none;
    border: black;
    stroke-width: 7;
}

.typeIcon {
    border:none; 
}

.typeIcon:hover { 
    padding: 2px 4px 2px 4px;
}

/* Profil */
#profile-sec {
    min-height: 39.2vh;
    position: static;
}

.profil-bgimg {
  background-image: url('../images/prof2.jpg');
  background-position: center;
  min-height: 25vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

td {
  padding-right: 20px;
}

.profilbild-placeholder {
  border-radius: 50%;
  padding: 10px;
}

/*SKAPA NY TUR*/
#description {
    padding: 16px 18px 14px 18px;
}

/* FOOTER */
footer {
       float: left;
       width: 100%;
       background-color: #918a78;
       padding: 10px 0 18px;
       font-color: fff;
}

h4.dark-bg {
  color: #ffffff;
}
ul.footer-lists {
  list-style: none;
  padding-left: 0px;
}
li.list-item {
  font-family: 'Lora', serif;
  color: #ffffff;
  list-style: none;
  padding-left: 0px;
}
a.footer-links {
  font-family: 'Lora', serif;
  color: #ffffff !important;
}
a.footer-links:hover {
  text-decoration: underline !important;
}

p#footer-copyright {
  color: #f7f6eb;
  font-size: 12px;
  text-decoration: none !important;
}



/* formulär på skapa-ny-rutt */
.ny-tur-form-container {
  padding: 50px;
}



/* Styling for switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #e3a209;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2d874c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 27px;
}

.slider.round:before {
  border-radius: 50%;
}

/* END OF Styling for switch */


/* Popup-karta /kartvy  */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgba(255,255,255,0.9);
}
