


h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
}

h2 {
        font-size: 26px;
}

h3 {
        font-size: 20px;
}

h4 {
        font-size: 16px;
}

p {
    font-size: 14px;
    font-family: 'Lora', serif;
}

a {
    color: #2d874c;
}

a:hover {
    color: #2d874c;
    text-decoration: underline;
}

/*primary button*/
.primary-button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    background-color: #2d874c;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 16px 18px 14px 18px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #2d874c;
    text-align: center;
    line-height:0px;
}

.primary-button:hover {
    background-color: transparent;
    color: #2d874c;
    text-decoration: none;
}

/*social media icons:*/
i {
    color:#2d874c;
    margin: 0px 10px 0px 0px;
}

i.dark-bg {
    color:#e3a209;
}

i:hover {
    color: #36a15b;
}

i.dark-bg:hover {
    color: #fff;
}

.sec-bg {
    background-color:#f7f6eb;
}




#map {
  height: 550px;
  width: 100%;
}


/* FOOTER */
section#footer {
    background-color: #918a78;
    padding-top: 1px;
}
#footer h5{
    padding-bottom: 6px;
    margin-bottom: 10px;
    color:#ffffff;
}
ul.footer-lists {
    font-size: 16px;
    list-style: none;
    padding-left: 0px;
}
li.list-item {
    font-size: 16px;
    color: #ffffff;
    list-style: none;
    padding-left: 0px;
}
a.footer-links {
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: transparent;
    font-size: 16px;
}
a.footer-links:hover {
    text-decoration: none !important;
    font-weight: 400;
}

p#footer-copyright {
    color: #ffffff;
    font-size: 12px;
}
