h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
}

h2 {
        font-size: 26px;
}

h3 {
        font-size: 20px;
}

h4 {
        font-size: 16px;
}

p {
    font-size: 16px;
    font-family: 'Lora', serif;
}

span {
    font-size: 16px;
    font-family: 'Lora', serif;
}


a {
    color: #2d874c;
}

a:hover {
    color: #2d874c;
    text-decoration: underline;
}

/* SECONDARY TEXTS */

h1.white-heading {
    color: white;
}

h2.white-heading {
    color: white;
}

h3.white-heading {
    color: white;
}

h4.white-heading {
    color: white;
}

p.white-p {
    color: white;
}

span.white-s {
    color: white;
}

/*primary button*/
.primary-button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    background-color: #2d874c;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 16px 18px 14px 18px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #2d874c;
    text-align: center;
    line-height:0px;
}

.primary-button:hover {
    background-color: transparent;
    color: #2d874c;
    text-decoration: none;
}

.mini-primary-button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    background-color: #2d874c;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 11px 9px 9px 9px;
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    line-height:0px;
}

.mini-primary-button:hover {
    background-color: #329654;
    color: white;
    text-decoration: none;
}



.white-button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #2d874c;
    background-color: white;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 16px 18px 14px 18px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
    text-align: center;
    line-height:0px;
}

.white-button:hover {
    background-color: transparent;
    color: white;
    text-decoration: none;
}




/*social media icons:*/
i {
    color:#2d874c;
    margin: 0px 10px 0px 0px;
}

i.dark-bg {
    color:#e3a209;
}

i:hover {
    color: #36a15b;
}

i.dark-bg:hover {
    color: #fff;
}

.sec-bg {
    background-color: #f7f6eb;
    margin-top: 225px;
}
/*gäller för section med #f7f6eb bakgrund*/
.sec-light-bg {
    background-color: #f7f6eb;
 }

/*NAVBAR (HEADER)*/
.bg-custom {
    background-color:#2d874c;
}

#brandName {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: white;
}

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: white !important;
    text-transform: uppercase;
    padding-top: 12px !important;
}

.btn-newroute {
     font-family: 'Josefin Sans', sans-serif;
         font-size: 13px;
         font-weight: 600;
         letter-spacing: 1px;
         color: white;
         background-color: #2d874c;
         text-transform: uppercase;
         border-radius: 3px;
         padding: 16px 18px 14px 18px;
         display: inline-block;
         margin: 10px 0px 10px 10px;
         border: 2px solid #fff;
         text-align: center;
         line-height:0px;
 }

 .btn-newroute:hover {
     background-color: white;
     color: #2d874c;
     text-decoration: none;
 }

  .profil {
    border-collapse: separate;
    border-spacing: 20px 0;
  }


/* Map styling */

#map {
  height: 450px;
  width: 100%;
  position: absolute;
  z-index: 2;
}



.top-content {
    margin: auto;
    width: 60%;
    position: relative;
    z-index: 2;
    background-color: rgba(45, 135, 76);
    padding: 40px;

}

.profil-bgimg {
    background-image: url('../images/prof2.jpg');
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
    }

td {
    padding-right: 20px;
}

.profilbild-placeholder {
    border-radius: 50%;
    padding: 10px;

}

/* FOOTER */
section#footer {
    background-color: #918a78;
    padding-top: 1px;
}
#footer h4{
    /*padding-bottom: 6px;
    margin-bottom: 10px;*/
    color:#ffffff;
}
ul.footer-lists {
    list-style: none;
    padding-left: 0px;
}
li.list-item {
    font-family: 'Lora', serif;
    color: #ffffff;
    list-style: none;
    padding-left: 0px;

}
a.footer-links {
    font-family: 'Lora', serif;
    color: #ffffff !important;
}
a.footer-links:hover {
    text-decoration: underline !important;
}

p#footer-copyright {
    color: #f7f6eb;
    font-size: 12px;
    text-decoration: none !important;
}
