<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:src="http://www.w3.org/1999/xhtml">
<head>


    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css"/>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/9fea19c3fb.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i|Lora:400,400i,700,700i&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">

    <title>Profil</title>
</head>

<body>
<div th:replace="fragments :: header"></div>

<section class="profil-bgimg">
    <div class="container">
        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <td>
                            <img class="profilbild-placeholder" src="../images/profilbild.png" width="100px"/>
                        </td>
                        <td>
                            <h1 class="white-heading">Min profil</h1>
                            <!--<h3 th:text="${#httpServletRequest.remoteUser}" class="white-heading">$MemberName</h3>-->
                            <!--<h3 th:text="${session.memberName}" class="white-heading">Bla di bla</h3>-->
                            <div th:each="member : ${memberKey}"><h3 class="white-heading"
                                                                     th:text="${member.memberName}">Här kommer ditt
                                namn</h3></div>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="sec-light-bg pt-5 pb-5" id="profile-sec">
    <div class="container">
        <div class="row">

            <div class="col-4 mt-5 mb-5">
                <h2>Mina bidrag</h2>

                <div th:if="${session.routeListSize == 0}">
                    <a class="mini-primary-button" href="/skapa-ny-tur">Lägg till tur</a>
                </div>

                <div th:if="${session.routeList != null}">
                    <table>
                        <tr th:each="memberRoute : ${routeList}">
                            <td>
                                <a th:href="'/tur/' + ${memberRoute.RouteId}"><span th:text="${memberRoute.RouteName}">Här är en rutt </span></a>
                            </td>
                            <td>
                                <form action="/taBortRutt" method="POST" th:object="${route}">
                                    <input type="hidden" th:value="${memberRoute.RouteId}" name="RouteId">
                                    <button type="submit" class="remove-route-btn">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </form>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-4 mt-5 mb-5">
                <h2>Sparade turer</h2>
                <span>$Inga sparade turer</span>
            </div>

        </div>
    </div>
</section>

<div th:replace="fragments :: footer"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

</body>
</html>