<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>

    <title>Skapa ny tur</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/9fea19c3fb.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i|Lora:400,400i,700,700i&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">

</head>

<body>
    <div th:replace="fragments :: header"></div>
    <div class="row">
        <div class="col-sm-8">
            <div id="map-new-route"></div>
        </div>
        <div class="col-sm-4">
            <div class="ny-tur-form-container">
                <h1>Lägg till ny tur</h1>
                <form>
                    <div class="form-group">
                        <label>Namn på tur</label>
                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                            placeholder="Lägg till ett namn på turen">

                    </div>
                    <div class="form-group">
                        <label>Beskrivning</label>
                        <input type="text" class="form-control" id="description"
                            placeholder="Lägg till en beskrivning av turen">
                    </div>




                    <div class="form-group">
                        <label for="difficultySelect">Ange svårighetsgrad:</label>
                        <select class="form-control" id="difficultySelect">
                            <option value="easy">Lätt</option>
                            <option value="medium">Medel</option>
                            <option value="hard">Krävande</option>
                        </select>
                    </div>




                    <div class="form-group row">
                        <label class="col-sm-4 control-label">Tidsåtgång:</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="days" placeholder="Dagar">
                        </div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="hours" placeholder="Timmar">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="example-date-input" class="col-7 col-form-label">Datum då du gick/skidade turen:
                        </label>
                        <div class="col-5">
                            <input class="form-control" type="date" id="datum">
                        </div>
                    </div>

                    <div class="row">
                        <div id="length"></div>
                    </div>



                    <button type="submit" class="white-button">Avbryt</button>
                    <button type="submit" class="primary-button">Spara tur</button>

                </form>
            </div>
        </div>

    </div>

    <!--
    <section class="sec-bg">
        <div class="container">
            <div class="row">
                <div class="col mt-5 mb-5">
                    <h2>Skapa nytt turförslag</h2>
                    <p>Här kan du rita ut en rutt, markera ut en topp eller någon intressant plats på kartan</p>
                </div>
            </div>
        </div>
    </section>
    -->

    <div th:replace="fragments :: footer"></div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script type="module" src="indexMapEdit.js"></script>


</body>

</html>